md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}
md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom :last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}
md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}
.user-avatar {
    border-radius: 99%;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

table {
    border-collapse: collapse;
    background-color: transparent;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: 1px solid #373a3c;
}

th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}


th {
    text-align: left;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #eceeef;
}

.tableflex{
    margin-top:20px;
}

.tableflex .tbheader{
    border-bottom: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-card{
    width:100% !important;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize; 
}

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important; 
}

.fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; 
}

.md-toolbar-tools-bottom img{
    width: 70px !important;
}

#foto-atual {
    width: 100%;
}

#foto-atual img{
    width: 300px;
}
.text-center{
    text-align:center;
}
.label-input-file{
    cursor:pointer;
    border:2px dashed #999;
    display:block;
}
.md-datepicker-input-container {
    width: 70%;
    margin-left: 0px;
}
